{% extends 'BlogBundle:Frontend/Layout:main.html.twig' %}

{% block content %}
	<div class=" margin--t">
		<div class="row">
			<div class="col-md-3">
                {% render(controller('BlogBundle:Frontend/Sidebar:blogList')) %}
			</div>
			<div class="col-md-9">
				<div id="mz_carousel" class="carousel slide" data-ride="carousel">
                    {% block carousel %}
                        {{ render(controller('BlogBundle:Frontend/Carousel:index')) }}
                    {% endblock %}
                </div>
				{% include "BlogBundle:Frontend/Blog:blogBreadcrumb.html.twig" %}
				{% include "BlogBundle:Frontend/Blog:indexAjax.html.twig" %}
			</div>
		</div>
	</div>
{% endblock content %}