{% set break = false%}
{% for item in pagination if not break %}
    <div class="col-md-12" style="width:100%; height: 150px; padding-left:0px; padding-bottom:px; margin-top: 10px; margin-bottom: 10px;">
        <a class="black" href="{{ path('ed_frontend_blog_single_article', { 'slug': item.slug }) }}">
            <div class="col-md-12" style="width:100%;  margin : 0;">
                            {{ item.title }}
            </div>
            <div class="col-md-12" style="width:100%; height: 150px !important; margin : 0;">
                <img style="width:100%; height:100%;" class="" src="{% path item.excerptPhoto, 'big' %}">
            </div>    
        </a>
    </div>
    {% if loop.index == 3 %}
        {% set break = true %}
    {% endif %}
{% endfor %}
