<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="col-md-12 carousel-inner " style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;background: rgba(0, 0, 0, 0.3);"  role="listbox">
  {% for post in posts %}
    {% set commentsCnt = commentsCount(post) %}
    {% if loop.index == 1 %}
      <div class="item active col-md-12" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;background: rgba(0, 0, 0, 0.3);">
    {% else %}
        <div class="item col-md-12" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;background: rgba(0, 0, 0, 0.3);">
    {% endif %}
          <a class="black col-md-12" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important;background: rgba(0, 0, 0, 0.3);" href="{{ path('ed_frontend_blog_single_article', { 'slug': post.slug }) }}">
            <div class="col-md-8" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important; height:400px;" >
              <div class="thumb" style="height:400px;">{% media post.excerptPhoto, 'big' with {'class': 'centered img--auto d--b', 'style':'height:400px;width:100%;'} %}</div>
                  
              </div>
              <div class="col-md-4" style="padding: 0 0 0 0 !important; margin: 0 0 0 0 !important; height:400px; background-color:white;" >
                <div class="text--30 text--bold black margin--halfb lh32">
                  <h1 style=" text-align:center;color:Black;"> {{post.title|capitalize  }}</h1>
                </div>
              </div>
            </a>
        </div>
  {% endfor %}
</div>

<!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>


