{% for item in pagination %}
    {% set commentsCnt = commentsCount(item) %}
    {% if loop.index0 is divisible by(4)%}
        <div class="col-md-12" style="padding-left: 0 !important;">
    {% endif %}
    <div class="item" {% if loop.index0 == 0%}
         style="margin-left: 0 !important; float:left !important;"
        {% endif %}>
        <a class="black" href="{{ path('ed_frontend_blog_single_article', { 'slug': item.slug }) }}">
            <div class="thumb">{% media item.excerptPhoto, 'excerpt' with {'class': 'centered img--auto d--b'} %}</div>
        

            <div class="text--10 text--bold black margin--halfb lh32">{{ item.title }}
            </div>
        </a>

    </div>
    {% if loop.index is divisible by(4) %}
        </div>
    {% endif %}
{% endfor %}
