{% extends 'BlogBundle:Frontend/Layout:main.html.twig' %}

{% block content %}
	<div class=" margin--t">
		<div class="row">
			<div class="col-md-3">
				<div id="mz_sidebar" class="semi-transparent-round">
	                <div id="mz_sidebar_title" class="semi-transparent-round">
	                	<a href="{{ path('ed_blog_frontend_events')}}">AGENDA</a>
	                </div> 
	                <div class="semi-transparent-round" margin-top:"5px;">
                		{% render(controller('BlogBundle:Frontend/Sidebar:blogList')) %}

	                </div>  
            	</div>
			</div>
			<div class="col-md-9">
				<div id="mz_carousel" class="carousel slide" data-ride="carousel">
                    {% block carousel %}
                        {{ render(controller('BlogBundle:Frontend/Carousel:index')) }}
                    {% endblock %}
                </div>
				{% include "BlogBundle:Frontend/Blog:blogBreadcrumb.html.twig" %}
				{% include "BlogBundle:Frontend/Blog:indexAjax.html.twig" %}
			</div>
		</div>
	</div>
{% endblock content %}