{% set break = false%}
{% for item in pagination if not break %}
    <div class="col-xs-3" >
        <a href="{{ path('ed_frontend_blog_single_article', { 'slug': item.slug })}}">

        	<div class="thumb" style="paddind:auto;">{% media item.excerptPhoto, 'excerpt' with {'class': 'centered img--auto d--b', 'style':'height:140px;width:190px;'} %}</div>
     
            <h1 style=" text-align:center; color:#FFF !important; font-family:'Black Ops One';"> {{item.title }}</h1>
        </a>
    </div>
    {% if loop.index == 4 %}
        {% set break = true %}
    {% endif %}
{% endfor %}

