{% extends 'BlogBundle:Frontend/Blog:index.html.twig' %}
{% block sidebar %}
	{{ parent()}}
{% endblock sidebar %}
{% block main %}
    {% block carousel %}
    {% endblock carousel %}
    {% block container %}
		{% include "BlogBundle:Frontend/Blog:blogBreadcrumb.html.twig" %}
		<div class="col-md-12" style="padding-top : 5px;">
			<div id="col1" class="col c1 c-first" style="position:relative">
				<article id="main-content" style="position: relative">
							<!--ZONES-->
					<div class="nwTable">
						<img src="" class="nwLogo" alt="">
						<h1>
							Pilotes <span> </span>
						</h1> 
						<table border="0" cellpadding="1" cellspacing="0" width="100%">  
								
								<tbody> 
									{% for item in pagination %}
										<div class="item">
											<a class="black" href="">
												<div class="thumb">{% media item.excerptPhoto, 'excerpt' with {'class': 'centered img--auto d--b', 'style':'height:140px;width:190px;'} %}
												</div>
												<h6 style=" text-align:center;color:black;"> {{item|capitalize }}</h6>
											</a>
										</div>
									{% endfor %}
									{{ knp_pagination_render(pagination) }}
								</tbody>
							</table> 
						</div>
					</article><!-- main-content -->
				</div>
		</div>
    {% endblock container %}
{% endblock main %}

{% block foot %}
	
	<footer class="footer">
      <div class="container col-md-12" style="padding:0 0 0 0;">
      	<div class="col-md-6 text--mini app-grey">Equipes de Formule 1 © {{ "now"|date("Y") }}</div>
		<div class="col-md-6  text--mini app-grey" style="float:right">Contacts: ©</div>
      </div>
    </footer>
{% endblock foot %}
