{% extends 'BlogBundle:Frontend/Layout:main.html.twig' %}

{% block content %}
  <div class=" margin--t">
    <div class="row">
      <div class="col-md-3 col-lg-3">
        <div id="mz_sidebar" class="semi-transparent-round">
                  <div id="mz_sidebar_title" class="semi-transparent-round">
                      Evenements de la semaine
                  </div> 
                  <div class="semi-transparent-round" margin-top:"5px;">
                    {% render(controller('BlogBundle:Frontend/Sidebar:blogList')) %}

                  </div>  
              </div>
      </div>
      <div class="col-md-9 col-lg-9">
        <div style="margin: auto;margin-top:5px;width: 60%; height: 150px; display:block;">
          <div class="col-md-6">
            <h4> {{ event.getName() }} </h4>
          </div>
          <img class="" src="{% path event.excerptPhoto, 'big' %}">
        </div>
        <br>
        <div class="container" style="margin-top: 15px;">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><h3>Sous Evenements</h3></a></li>
            <li><a data-toggle="tab" href="#menu1"><h3>Ecuries</h3></a></li>
            <li><a data-toggle="tab" href="#menu2"><h3>Pilotes</h3></a></li>
            <li><a data-toggle="tab" href="#menu3"><h3>Classement</h3></a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active col-md-12" style="display: inline !important; ">
              
              {% for child in event.getChildren() %}
                <div class="event col-md-5">
                    <h4> {{ child.getName() }} </h4>
                    <img class="" src="{% path event.excerptPhoto, 'big' %}">
                </div>
                <div class="event col-md-5">
                    <h4> {{ child.getName() }} </h4>
                    <img class="" src="{% path event.excerptPhoto, 'big' %}">
                </div>
                <div  class="event col-md-5">
                    <h4> {{ child.getName() }} </h4>
                    <img class="" src="{% path event.excerptPhoto, 'big' %}">
                </div>

              {% endfor %}
            </div>
            <div id="menu1" class="tab-pane fade">
              
              <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div id="menu2" class="tab-pane fade">
              
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
              
              <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}