{% extends 'BlogBundle:Frontend/Layout:main.html.twig' %}

{% block content %}
  <div class=" margin--t">
    <div class="row">
      <div class="col-md-3" style="padding: 0 0 0 0;">
        <div id="mz_sidebar" class="semi-transparent-round" style="background-color:White">
          <div id="mz_sidebar_title" class="semi-transparent-round">
            <a href="{{ path('ed_blog_frontend_events')}}">AGENDA</a>
          </div> 
          <div style="margin-top:5px;">
            {% render(controller('BlogBundle:Frontend/Sidebar:blogList')) %}

          </div>  
        </div>
      </div>
      <div class="col-md-6">
        {% if type == "grandprix" or type == "course" %}
          {% include 'BlogBundle:Frontend/Blog:grandprix.html.twig' %}
        {% elseif type == "championnat" and category.getChildren()|length <= 1 %}
          {% set event = category.getEvents() %}
          {% include 'BlogBundle:Frontend/Blog:calendrier.html.twig' %}
        {% elseif type == "team" and category.getChildren()|length <= 1 %}
          {% set event = category.getEvents() %}
          {% include 'BlogBundle:Frontend/Blog:teams.html.twig' %}  
        {% elseif type == "pilot" %}
          {% set event = category.getEvents() %}
          {% include 'BlogBundle:Frontend/Blog:pilots.html.twig' %}  
        {% elseif type == "classement" %}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}