{% extends 'BlogBundle:Frontend/Layout:main.html.twig' %}

{% block content %}
  <div class=" margin--t">
    <div class="row">
      <div class="col-md-3" style="padding: 0 0 0 0;">
        <div id="mz_sidebar" class="semi-transparent-round" style="background-color:White">
          <div id="mz_sidebar_title" class="semi-transparent-round">
            <a href="{{ path('ed_blog_frontend_events')}}">AGENDA</a>
          </div> 
          <div style="margin-top:5px;">
            {% render(controller('BlogBundle:Frontend/Sidebar:blogList')) %}

          </div>  
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
{% endblock content %}